h1 {
    color: #ffd698;

    border: 2px solid #ffd698;
    padding: 1em;
    background-color: black;

}

main h3 {
    color: #ffd698;

}

/* Navagation */
nav li,
p {
    font-style: italic;
    color: white;
    border: 1px solid #ffd698;
    background-color: black;
    padding: 1em;
}

nav ul {
    display: flex;
    flex-direction: column;

}

*[href] {
    font-weight: bold;
}

#peoples {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    margin: 2em;
    background-image: linear-gradient(to bottom, #ffd698 0%, #ffd698 20%, #ffd698 50%, hsl(35, 100%, 91%) 80%, #f4eee6 100%);

}

a {
    color: white;

}

/*The Noelle Paragraphs */
section.backstory {
    width: 30%;
    float: left;
}

section.storyline {
    width: 50%;
    float: left;
    font-size: larger;
}

#Noelle {
    width: 100%;
    max-width: 828px;

}

/* Changes layout for screen width */
@media only screen and (max-width: 600px) {
    section.backstory {
        width: 100%;
        float: none;
    }

    section.storyline {
        width: 100%;
        float: none;

    }

}